

<nav class="navbar navbar-light bg-secondary ">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-flight">New Flight</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/chart">Chart</a>
          </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li> -->
      </ul>
    
  </nav>

  <router-outlet></router-outlet>
  



  <!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->